---
title: Example
layout: example
sortOrder: 1
---

+++
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/card/_macro.njk" import onsCard %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "title": 'My visualisations',
        "logoHref": '#0',
        "mobileLogo": 'ons-logo-stacked-en',
        "titleLogoHref": '#0'
    })
}}

+++
